/* Global margin reset*/

* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #171717;
  font-size: 16px;
  line-height: 1.5em;
  background-image: url(../img/bg-tile.jpg);
  background-repeat: repeat-x;
}
#container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #ccc;
}
#header {
  background-image: url(../img/masthead.webp);
  background-repeat: repeat-x;
  height: 140px;
}
#header h1 a {
  display: block;
  height: 140px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#nav {
  background-color: #000;
}
#nav ul {
  list-style-type: none;
  margin-left: 10px;
}
#nav ul li {
  display: inline;
  height: 35px;
  line-height: 35px;
}
#nav ul li a {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
}
#nav ul li a:link,
#nav ul li a:visited {
  text-decoration: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  color: #fff;
}
#nav ul li a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}
#content {
  margin: 20px;
}
#content p {
  margin-top: 5px;
  margin-bottom: 15px;
}

#content dt,
.definition {
  display: inline;
}

#content dt {
  font-weight: bold;
  text-decoration: underline;
}

#content h2 {
  color: #3ca792;
  font-size: 2rem;
  border-bottom: 3px solid #3ca792;
  padding-bottom: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

#content h3 {
  color: #3ca792;
  font-style: italic;
  font-size: 1.4rem;
  margin-top: 2em;
}

#content h4 {
  color: #3ca792;
  font-size: 1rem;
  border-left: 4px solid #3ca792;
  padding-left: 0.5em;
}

#footer {
  background-color: #000;
  color: #fff;
  height: 50px;
}

#footer h6,
#footer a {
  font-size: 12px;
  line-height: 25px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: azure;
}

#footer a:hover {
  text-decoration: underline;
}

#footer a:visited {
  color: #3ca792;
}

.alert {
  background-color: #d98d30;
  color: azure;
}

.favorite-link {
  color: black;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
}

.favorite-link:hover {
  background-color: #d99c2b;
  text-decoration: underline;
}

.answer {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
}

.example {
  font-style: italic;
  margin-left: 20px;
}

.content-image {
  float: right;
  max-width: 40%;
  margin: 0 0 15px 20px;
}

.content-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 2px solid #000;
  padding: 5px;
  background: #3ca792;
}

.content-image figcaption {
  font-size: 0.5rem;
  color: #000;
  font-style: italic;
}

/*Used ChatGPT to help brainstorm different style ideas that I could use in CSS. Also, used to recall HTML & CSS syntax. Also, used to help with floating the image. I couldn't remember how to get it where I wanted it.*/
