* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 32px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #3ca792;
  font-size: 16px;
  line-height: 1.5em;
}
main {
  margin: 20px auto;
  border: 1px solid #000;
  display: grid;
}

h1 {
  margin: 20px;
}

nav ul {
  margin: 20px;
}

nav.primary ul li a,
.dropdown-toggle {
  color: #ffffff;
  border: 2px solid #08f5ddd6;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition: 0.4s;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

nav.primary ul li a:hover,
.dropdown-toggle:hover {
  background-color: rgba(0, 140, 127, 0.4);
}

.dropdown-toggle:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10;
  border-radius: 15px;
  left: 50%;
  transform: translate(-50%);
  width: max-content;
  max-width: 90vw;
  min-width: 200px;
  text-align: center;
  
}

.dropdown:hover > .dropdown-content,
.dropdown:focus-within > .dropdown-content {
  display: block;
}

.dropdown.nested > .dropdown-content {
  display: none;
  position: relative;
  left: 0;
  transform: none;
  width: 100%;
}

.dropdown.nested:hover > .dropdown-content,
.dropdown.nested:focus-within > .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 7.5px 10px;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}


/*ChatGPT helped me with getting the nested list to display properly*/
