/* CSS Custom Properties */

:root{
  --main-bg-color: #051f20;
  --container-bg-color: rgba(22, 56, 50, 0.60);
  --primary-type-color: #DAF1DE;
  --accent-color-1: #8eb69b;
  --button-color: #235347;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------ Helper Classes -------*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* ------ Typography -------*/
body {
  font-family: "Open Sans", sans-serif;
}

/* ------ Fluid Images -------*/

img {
  max-width: 100%;
}

/* ------ Design Time -------*/

.container {
  width:420px;
  margin: 0 auto;
  background: var(--container-bg-color);
 
}

/* ------ Global Styles -------*/
body {
  background: var(--main-bg-color);
  color: var(--primary-type-color);
}


a:link,
a:visited {
  color: var(--primary-type-color);
}

nav {
  padding: 20px 15px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
  gap: 10px;
  list-style: none;
}


nav a:link, nav a:visited {
  display: block;
  padding: 8px 16px;
  border: 1px solid var(--accent-color-1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  background: var(--button-color);
  transition: background-color 0.5s ease;
}

nav a{
  border-radius: 10px;
}
nav a:hover {
  background: var(--container-bg-color);
}

main {
  padding: 1px 20px;
}

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-variant: small-caps;
}

main h1:before,
main h1:after {
  background-color: var(--accent-color-1);
  content: "\a0";
  flex-grow: 1;
  height: 2px;
  position: relative;
  top: 0.55em;
}
main h1:before {
  margin-right: 15px;
}
main h1:after {
  margin-left: 15px;
}

dl {
  font-size: .8rem;
  display: grid;
  /*shorthand*/
  grid-template: repeat(8, 40px) / 8em 1fr;
}

dt {
  font-weight: 700;
  grid-column: 1;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color-1);
}
dd {
  margin: 0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color-1);
}

.related-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.related-links .svg-inline--fa {
  font-size: 1.8em;
  padding-top: 7px;
}

.related-links a {
  border: 1px solid var(--accent-color-1);
  border-radius: 10px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  background: var(--button-color);
  transition: background-color 0.5s ease;
  color: var(--primary-type-color);
}

.related-links a:hover {
  background: var(--container-bg-color);
}

#skills{
  border-bottom: 1px solid var(--accent-color-1);
  padding-bottom: 20px;
}

.skills-grid{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}

.skills-grid .skill {
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: center;
  column-gap: 10px;
  padding: 10px 12px;
  border: 1px solid var(--accent-color-1);
  border-radius: 10px;

}

.job,
.certificate {
  border-bottom: 1px solid var(--accent-color-1);
  padding-bottom: 20px;
}

.job *[itemprop="jobTitle"],
.job *[itemprop="name"],
.job *[itemprop="url"],
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"] {
  display: block;
}

.job h3 {
  margin: 20px 0 0 0;
}

footer {
  text-align: center;
  padding: 20px 0;
}

main.container {
  display: grid;
  grid-template-areas:
    "title"
    "about"
    "skills"
    "education"
    "experience";
}

.page-title {
  grid-area: title;
}
#about {
  grid-area: about;
}
#skills {
  grid-area: skills;
}
#experience {
  grid-area: experience;
}
#education {
  grid-area: education;
}